<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HelloWorld App</title>

    <script type = "text/javascript" th:src = "@{/js/actions.js}"></script>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>


   <div class = "container">
       //-------------------------Fruit table---------------------
       <nav class="navbar bg-light">
           <div class="container-fluid">
               <h1>juice</h1>
           </div>
       </nav>
       <span th:text="'fruit:'+ ${f_id}" />
       <h2>Fruiten voor een juice te maken </h2>
       <table class="table table-dark table-hover">
                   <thead>
                   <tr>

                       <th>Fruit Name</th>
                       <th>Fruit photo</th>
                       <th>Fruit price</th>
                       <th>description</th>
                       <th>Button</th>


                   </tr>
                   </thead>
                   <tbody>

                     <th:block th:each="fruit : ${fruits}">
                         <tr>
                             <td>[[${fruit.fruit_name}]]</td>
                             <td>[[${fruit.fruit_id}]]</td>
                             <td>[[${fruit.description_fruit}]]</td>
                             <td>[[${fruit.price_fruit}]]</td>
                             <td>

                                 <input  type="button"
                                         th:data-id="${fruit.fruit_id}"
                                         th:data-name="${fruit.fruit_name}"
                                         th:data-price="${fruit.price_fruit}"
                                         th:data-description="${fruit.description_fruit}"
                                         onclick="addFruitToList(this.getAttribute('data-id'), this.getAttribute('data-name'),this.getAttribute('data-price'),this.getAttribute('data-description'));"
                                         value="add" />

                                 <input  type="button"
                                         th:data-id="${fruit.fruit_id}"
                                         onclick="removeFruitFromList(this.getAttribute('data-id'));"
                                         value="remove" />

                             </td>

                             </td>
                         </tr>

                     </th:block>


                   </tbody>
               </table>

           //-------------------------juice table--------------------------------
       <ul id="fruitCurrentJuice"></ul>
       <input  type="button"
               onclick="createJuice()"
               value="Create Juice" />


       <div id="createdJuice"></div>



       <h2>Aangemaakte Juice </h2>

       <table class="table table-dark table-hover">
           <thead>
           <tr>

               <th>Juice Name en Discription</th>
               <th>Fruit photo</th>
               <th>Fruit price</th>
               <th>Button</th>


           </tr>
           </thead>
           <tbody>

           <th:block th:each="juice : ${juices}">
               <tr>
                   <td>[[${juice.description_fruit}]]</td>
                   <td>[[${juice.photo_juice}]]</td>
                   <td>[[${juice.price_juice}]]</td>
                   <td>
                       <input  type="button"
                               th:juice_id="${juice.juice_id}"
                               th:price_juice="${juice.price_juice}"
                               th:description_fruit="${juice.description_fruit}"
                               onclick="addPreparedJuicetolist(this.getAttribute('juice_id'), this.getAttribute('price_juice'),this.getAttribute('description_fruit'));"
                               value="add" />



                   </td>

               </tr>

           </th:block>

           </tbody>
       </table>

       //-------------------------Order Table-------------------------

       <h2>Order</h2>

       <input  type="button"
               onclick="createOrders()"
               value="Add juice to Order" />

       <div id="orderlist"></div>


   </div>
</body>
</html>